{% extends 'catalog/base.html' %}
{% load customized_tags %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Skystore</h1>
        <p class="lead">Skystore - это идеальное место для хранения и представления вашей фермерской продукции, свежих фруктов, овощей и других натуральных лакомств для вашего покупателя!</p>
    </div>
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <img src="{% mediapath object.preview %}" />
                    <h1 class="card-title pricing-card-title">{{ object.price_per_one }} ₽</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>ОПИСАНИЕ: {{ object.description|truncatechars:100 }}</li>
                        <li>КАТЕГОРИЯ: {{ object.category }}</li>
                        <li>ДАТА СОЗДАНИЯ: {{ object.date_of_creation|date:"d.m.Y h:m" }}</li>
                        <li>ДАТА ИЗМЕНЕНИЯ: {{ object.date_of_change|date:"d.m.Y h:m" }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

